/*#one {
	background-color:white;
	height: 100px;
	border-bottom: 1px solid #C0C0C0;
}
#one2 {
	background-color:white;
	height: 80px;
	margin-top: 10px;
	font-size: 30px;
	color: black;
}
#one22 {
	background-color:white;
	height: 80px;
	margin-top: 10px;
	font-size: 30px;
	color: black;
}
.fa fa-angle-down{
	color: #C0C0C0;
}
#two {
	height: 60px;
    border-bottom: 1px solid #888;
}
#two2 {
	font-size: 25px;
	color: black;
}
#two4 {
	display: none;
	font-size: 30px;
	color: black;
}
#three {
    height: 40px;
    border-top: 1px solid #C0C0C0;
}
#three1 {
	top:60px;
    height: 40px;
    font-size: 40px;
}
#five {
	height: 40px;
}
#three2 {
	top:60px;
    height: 40px;
    font-size: 25px;
}
#four {
	height: 350px;
}
*/
#one {
	/*background-color:green;*/
	height: 75px;
	border-bottom: 1px solid #C0C0C0;
}
#one2 {
	background-color:white;
	height: 55px;
	margin-top: 10px;
	font-size: 25px;
	color: black;
	text-align: center;
}
#one22 {
	background-color:white;
	height: 55px;
	margin-top: 10px;
	font-size: 25px;
	color: black;
	text-align: center;
}
.fa fa-angle-down{
	color: #C0C0C0;
}
#two {
	position: relative;
	/*background-color: blue;*/
	height: 40px;
	border-bottom: 1px solid #888;
}
#two2 {
	top: 10px;
	height: 30px;
	font-size: 15px;
	color: black;
}
#two22 {
	float: right;
	top: 10px;
	height: 30px;
	font-size: 18px;
	color:  #C0C0C0;
	/*display: none;*/
}

#three {
    height: 60px;
}
#three1 {
	border-top: 1px solid #C0C0C0; 
	top:48px;
    height: 42px;
    font-size: 40px;
    text-align: center;
}
#five {
	height: 40px;
}
#three2 {
	top:40px;
    height: 40px;
    font-size: 25px;
    text-align: center;
}
#four {
	height: 130px;
}
#i1 {
	display: none;
}
#i2 {
	display: none;
}
#i3 {
	display: none;
}
#i4 {
	display: none;
}
#i5 {
	display: none;
}
#i6 {
	display: none;
}
#i7 {
	display: none;
}
#i8 {
	display: none;
}

.row-tmpEnd {
	margin-left:1px;
    width: 100%;
    height: 44px;
    line-height: 44px;
    font-size: 14px;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    margin-bottom: 10px;
    border-top: 1px solid #dbdbdb;
    z-index: 100000;
    background: rgba(255,255,255,0.7);
}
.row-tmpEnd2 {
    position: fixed;
    width: 109%;
    height: 19px;
    line-height: 19px;
    z-index: 100000;
}
.col-xs-tmpFa {
    height: 25px;
    line-height: 25px;
    margin-top: 5px;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
}
.col-xs-tmpFatext {
    height: 19px;
    line-height: 19px;
    font-size: 14px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 5px;
}
.col-xs-tmpFatext h2 {
    font-size: 14px;
    color: #4c4c4c;
    margin: 0;
}
li {
    list-style: none;
}
.fa-bell-o {
    color: #ff8c00;
}
.fa {
    color: #4c4c4c;
    height: 20px;
    line-height: 20px;
}